language: python
python:
  - "2.7"
install: pip install pyaudio pocketsphinx SpeechRecognition
script: python -m unittest discover
addons:
  apt:
    packages:
      - swig
      - gcc
      - python-dev
      - python-pyaudio
      - libpulse-dev
